<!-- <div class="card" style="width: 18rem;"> -->
  <!-- <img [src]="imgUrl" alt="" class="card-img-top"> -->
  <!-- <div class="card-body">
      <h5 class="card-title text-center">Vino El Naufrago Malbec</h5> -->
      <!-- <button class="btn btn-primary btn-block btn-xl" routerLink="usuario/{{ id }}">VER</button> -->
   <!-- </div>
</div> -->
  <section >
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine2.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Vino SwartLand BushWine</h5>
                  <p class="text-muted mb-4">Pinotage 2014</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$$2.699 MX</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine15.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Rangen</h5>
                  <p class="text-muted mb-4">Pinot Cris 2016</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../assets/img/wine10.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Bontorrs</h5>
                  <p class="text-muted mb-4">Carney 2013</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>

                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section >
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine2.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Swartland Bush Vine</h5>
                  <p class="text-muted mb-4">Pinotage 2014</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine3.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Thalia</h5>
                  <p class="text-muted mb-4">Strah - Kotsefali</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../assets/img/wine9.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Nobilo New Zeland</h5>
                  <p class="text-muted mb-4">Savignon Blanc</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section >
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine10.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Bontorrs</h5>
                  <p class="text-muted mb-4">Carney 2013</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$850S.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine11.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Believing is seeing</h5>
                  <p class="text-muted mb-4">Apple pro display XDR</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$1,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../assets/img/wine12.jpg" width="100" height="450"

                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Lanson</h5>
                  <p class="text-muted mb-4">Brut</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$2,000.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section >
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine13.png" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Vino Arnaiz</h5>
                  <p class="text-muted mb-4">Crianza 2011</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$1,97.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine17.jpg" width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Chateau Bots Pertuis</h5>
                  <p class="text-muted mb-4">Bordeaux</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$3,17.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fa-lg pt-3 pb-1 px-3"></i>
              <img
                src="../../../../assets/img/wine15.jpg"  width="100" height="450"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">Rangen Grand Cru</h5>
                  <p class="text-muted mb-4">Pinot Gris 2016</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Pro Display XDR</span><span>$5,999</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Pro stand</span><span>$999</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$2,197.00</span>
                </div>
                <div class="buttons row justify-content-center">
                  <button class="btn btn--angular " >Comprar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
<br><br><br>
<div class="class">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>


