<nav class="navbar navbar-dark">
    <a class="navbar-brand mx-auto" routerLink = '/layout'>
        Vinos and servicios
        <img src="../../../assets/img/android-icon-48x48.png" width="30" height="30" alt="">
    </a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
    </form>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="buttons">
    <button (click)="onHandleTag('Gracias por suscribirte a UvaNegra')" class="btn btn--angular">Suscribete a UvaNegra</button>
  </div>
    </div>
  </div>

</header>



