<!-- <div id="mapa-mapbox">

</div> -->
<div class="footer">
  <div class="card w-95" >
    <div id="mapa-mapbox" class="card-body">
      <div id='map' style='width: 400px; height: 300px;'></div>
      <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYXN1Y2VuYSIsImEiOiJjazE1djZhYzYweWh6M2twazlvbW5va3NtIn0.0eHSJpjnF829sO-3AAl6_g';

      </script>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +52 2381628349  </p>
<p><i class="fa fa fa-envelope"></i> UvaNegra@gmail.com  </p>
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<ul class="social_footer_ul">
  <li><a href="https://www.facebook.com/search/top?q=uvanegra"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>
</div>
</div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

